.App {
    background-color: #ffffff;
}

.App {
    background-image: url('../public/images/img13.jpg'); 
    background-size: cover;         
    background-position: center;    
    background-repeat: no-repeat;
    height: 100%;
  }